<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Form tests</title>
        <link rel="stylesheet" media="all" href="../../../assets/formvalidation/0.7/dist/css/formValidation.min.css"/>
        <link rel="stylesheet" media="all" href="../../../assets/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" media="all" href="../../../Template/dist/form/css/form.css"/>
        <link rel="stylesheet" media="all" href="example.css"/>
    </head>
    <body>
        <script src="../../../assets/jquery/js/jquery-2.2.3.min.js"></script>
        <script src="../../../assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="../../../assets/formvalidation/0.7/dist/js/formValidation.popular.min.js"></script>
        <script src="../../../assets/formvalidation/0.7/dist/js/framework/bootstrap.min.js"></script>
        <script src="../../dist/template/js/template.js"></script>
        <script src="../../dist/feedback/js/feedback.js"></script>
        <script src="../../dist/form/js/form.js"></script>
        <script src="example.js"></script>


        <input type="text" name="myName"/>
        <span data-name="myName">MyNameIS</span>

    </body>
</html>